# PyCity Schools Analysis

- Your analysis here
 Cabrera high school has highest improvment score with capital spending per student $582. Rodriguez High School	 has lowest improvmement with capital spending at $637. This shows the capital spending does not help much in improving school scores.School with spending range more than <$582 are better perform than big budget schools. The size of school show direct relation with improvement. Small size school are performing better than the large size schools.
---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
#Reference:#https://practicaldatascience.co.uk/data-science/how-to-identify-and-count-unique-values-in-pandas
unique_school_count=school_data_complete["school_name"].nunique()
print(unique_school_count)

15

In [4]:
# Calculate the total number of students
student_count=school_data_complete["student_name"].count()
student_count

39170

In [5]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [6]:
# Calculate the average (mean) math score
average_math_score =school_data_complete["math_score"].mean() 
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean() 
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/float(student_count)*100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[unique_school_count],
                                 "Total Students":[student_count],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[average_math_score],
                                "Average Reading Score":[average_reading_score],
                                 "% Passing Math":[passing_math_percentage],
                                 "% Passing Reading":[passing_reading_percentage],
                                 "% Overall Passing":[overall_passing_rate]
                                })
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}".format)
# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.99,81.88,74.98,85.81,65.17

## School Summary

In [12]:
# Use the code provided to select all of the school types
per_school_type = school_data.set_index(["school_name"])["type"]
print(per_school_type)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [14]:
# Calculate the total student count per school
per_school_counts = school_data_complete["school_name"].value_counts()
print(per_school_counts)

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [15]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()

In [16]:
#per capita spending
per_capita_spending=per_school_budget/per_school_counts

In [17]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()

In [18]:
# Calculate the average test scores per school
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
# per_school_reading =

In [19]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math=school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math =students_passing_math.groupby(["school_name"]).count()["student_name"]
#Reference:https://github.com/Baylex/School_District_Analysis_Challenge/blob/main/PyCitySchools.ipynb

In [20]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading=school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading =students_passing_reading.groupby(["school_name"]).count()["student_name"]

In [21]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [22]:
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [23]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
# per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
# overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [24]:
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100

In [25]:
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [26]:
per_school_summary_df=pd.DataFrame({
        "School Type":per_school_type,
         "Total Students":per_school_counts,
     "Total Budget":per_school_budget,
    "Per Student Budget":per_capita_spending,
    "Average Math Score":school_students_passing_math,
    "Average Reading Score":school_students_passing_reading,
    "% Passing Math":per_school_passing_math,
    "% Passing Reading":per_school_passing_reading,
    "% Overall Passing":overall_passing_rate
 })
#formatting
per_school_summary_df["Total Budget"]=per_school_summary_df["Total Budget"].map('${:,.2f}'.format)
per_school_summary_df["Per Student Budget"]=per_school_summary_df["Per Student Budget"].map('${:,.2f}'.format)

per_school_summary_df.head()
#reference:https://www.roelpeters.be/solve-pandas-valueerror-cannot-reindex-from-a-duplicate-axis/

# per_school_summary_df.loc[:, ~per_school_summary_df.columns.duplicated()]
# per_school_summary_df.flags.allows_duplicate_labels = False

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,3318,4077,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,1749,1803,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,1946,2381,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,1871,2172,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,1371,1426,93.392371,97.138965,90.599455

## Highest-Performing Schools (by % Overall Passing)

In [27]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary_df = per_school_summary_df.sort_values(["% Overall Passing"],ascending = False)
top_schools.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,1749,1803,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,1525,1591,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,1371,1426,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,2143,2204,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,910,923,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [28]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =per_school_summary_df = per_school_summary_df.sort_values(["% Overall Passing"],ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,2654,3208,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,1946,2381,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,1916,2372,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,3094,3748,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,3145,3867,66.057551,81.222432,53.539172

## Math Scores by Grade

In [29]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th":ninth_grade_math_scores,
                                     "10th":ninth_grade_math_scores,
                                     "11th":ninth_grade_math_scores,
                                     "12th":twelfth_grader_math_scores})

# # Minor data wrangling
math_scores_by_grade.index.name = None

# # Display the DataFrame

print(math_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     77.083676  77.083676  77.083676  76.492218
Cabrera High School    83.094697  83.094697  83.094697  83.277487
Figueroa High School   76.403037  76.403037  76.403037  77.151369
Ford High School       77.361345  77.361345  77.361345  76.179963
Griffin High School    82.044010  82.044010  82.044010  83.356164
Hernandez High School  77.438495  77.438495  77.438495  77.186567
Holden High School     83.787402  83.787402  83.787402  82.855422
Huang High School      77.027251  77.027251  77.027251  77.225641
Johnson High School    77.187857  77.187857  77.187857  76.863248
Pena High School       83.625455  83.625455  83.625455  84.121547
Rodriguez High School  76.859966  76.859966  76.859966  77.690748
Shelton High School    83.420755  83.420755  83.420755  83.778976
Thomas High School     83.590022  83.590022  83.590022  83.497041
Wilson High School     83.085578  83.085578  83.085578  83.035794
Wright High School     83.264706  83.264706  83.264706  83.644986

## Reading Score by Grade

In [30]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_grade_reading_scores,
                                     "10th":ninth_grade_reading_scores,
                                     "11th":ninth_grade_reading_scores,
                                     "12th":twelfth_grader_reading_scores})


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  81.303155  81.303155  80.912451
Cabrera High School    83.676136  83.676136  83.676136  84.287958
Figueroa High School   81.198598  81.198598  81.198598  81.384863
Ford High School       80.632653  80.632653  80.632653  80.662338
Griffin High School    83.369193  83.369193  83.369193  84.013699
Hernandez High School  80.866860  80.866860  80.866860  80.857143
Holden High School     83.677165  83.677165  83.677165  84.698795
Huang High School      81.290284  81.290284  81.290284  80.305983
Johnson High School    81.260714  81.260714  81.260714  81.227564
Pena High School       83.807273  83.807273  83.807273  84.591160
Rodriguez High School  80.993127  80.993127  80.993127  80.376426
Shelton High School    84.122642  84.122642  84.122642  82.781671
Thomas High School     83.728850  83.728850  83.728850  83.831361
Wilson High School     83.939778  83.939778  83.939778  84.317673
Wright High School     83.833333  83.833333  83.833333  84.073171

## Scores by School Spending

In [31]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [32]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary_df.copy()

In [33]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per student Spending)"] = pd.cut(per_capita_spending,spending_bins,labels=labels,include_lowest=True)
school_spending_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per student Spending)
school_name,,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,2654,3208,66.366592,80.220055,52.988247,$630-645
Figueroa High School,District,2949,"$1,884,411.00",$639.00,1946,2381,65.988471,80.739234,53.204476,$630-645
Huang High School,District,2917,"$1,910,635.00",$655.00,1916,2372,65.683922,81.316421,53.513884,$645-680
Hernandez High School,District,4635,"$3,022,020.00",$652.00,3094,3748,66.752967,80.862999,53.527508,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,3145,3867,66.057551,81.222432,53.539172,$645-680
Ford High School,District,2739,"$1,763,916.00",$644.00,1871,2172,68.309602,79.299014,54.289887,$630-645
Bailey High School,District,4976,"$3,124,928.00",$628.00,3318,4077,66.680064,81.933280,54.642283,$585-630
Holden High School,Charter,427,"$248,087.00",$581.00,395,411,92.505855,96.252927,89.227166,<$585
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,1653,1688,93.867121,95.854628,89.892107,$585-630
Wright High School,Charter,1800,"$1,049,400.00",$583.00,1680,1739,93.333333,96.611111,90.333333,<$585
Pena High School,Charter,962,"$585,858.00",$609.00,910,923,94.594595,95.945946,90.540541,$585-630
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,2143,2204,93.867718,96.539641,90.582567,<$585
Griffin High School,Charter,1468,"$917,500.00",$625.00,1371,1426,93.392371,97.138965,90.599455,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,1525,1591,93.272171,97.308869,90.948012,$630-645
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,1749,1803,94.133477,97.039828,91.334769,<$585

In [34]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["% Overall Passing"].mean()

C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\466439035.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["Average Math Score"].mean()
C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\466439035.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["Average Reading Score"].mean()
C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\466439035.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["% Passing Math"].mean()
C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\466439035.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["% Passing Reading"].mean()
C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\466439035.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per student Spending)"])["% Overall Passing"].mean()

In [35]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
                                "Math Score":spending_math_scores,
                                "Reading Score":spending_reading_scores ,
                                "%Passing Math":spending_passing_math ,
                                "%Passing Reading":spending_passing_reading ,
                                "%Overall Passing":overall_passing_spending})

# Display results
spending_summary

,Math Score,Reading Score,%Passing Math,%Passing Reading,%Overall Passing
Spending Ranges (Per student Spending),,,,,
<$585,1491.750000,1539.25,93.460096,96.610877,90.369459
$585-630,1813.000000,2028.50,87.133538,92.718205,81.418596
$630-645,1999.000000,2338.00,73.484209,84.391793,62.857656
$645-680,2718.333333,3329.00,66.164813,81.133951,53.526855

## Scores by School Size

In [36]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [37]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary_df["School Size"] = pd.cut(per_school_counts,size_bins, labels=labels,include_lowest=True)
per_school_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,2654,3208,66.366592,80.220055,52.988247,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,1946,2381,65.988471,80.739234,53.204476,Large (2000-5000)
Huang High School,District,2917,"$1,910,635.00",$655.00,1916,2372,65.683922,81.316421,53.513884,Large (2000-5000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,3094,3748,66.752967,80.862999,53.527508,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,3145,3867,66.057551,81.222432,53.539172,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,1871,2172,68.309602,79.299014,54.289887,Large (2000-5000)
Bailey High School,District,4976,"$3,124,928.00",$628.00,3318,4077,66.680064,81.933280,54.642283,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,395,411,92.505855,96.252927,89.227166,Small (<1000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,1653,1688,93.867121,95.854628,89.892107,Medium (1000-2000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,1680,1739,93.333333,96.611111,90.333333,Medium (1000-2000)
Pena High School,Charter,962,"$585,858.00",$609.00,910,923,94.594595,95.945946,90.540541,Small (<1000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,2143,2204,93.867718,96.539641,90.582567,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,1371,1426,93.392371,97.138965,90.599455,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,1525,1591,93.272171,97.308869,90.948012,Medium (1000-2000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,1749,1803,94.133477,97.039828,91.334769,Medium (1000-2000)

In [38]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary_df.groupby(["School Size"])["% Overall Passing"].mean()

C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\2556364354.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary_df.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\2556364354.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary_df.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\2556364354.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary_df.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\2556364354.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary_df.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\muhka\AppData\Local\Temp\ipykernel_6156\2556364354.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary_df.groupby(["School Size"])["% Overall Passing"].mean()

In [39]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
                                "Math Score":size_math_scores,
                                "Reading Score":size_reading_scores ,
                                "Passing Math":size_passing_math ,
                                "Passing Reading":size_passing_reading ,
                                "Overall Passing":size_overall_passing})

# Display results
size_summary

,Math Score,Reading Score,Passing Math,Passing Reading,Overall Passing
School Size,,,,,
Small (<1000),652.500,667.000,93.550225,96.099437,89.883853
Medium (1000-2000),1595.600,1649.400,93.599695,96.790680,90.621535
Large (2000-5000),2510.875,3003.625,69.963361,82.766634,58.286003

## Scores by School Type

In [40]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary_df.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary_df.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary_df.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary_df.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary_df.groupby(["School Type"])["% Overall Passing"].mean()

In [42]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
                                "Math Score":average_math_score_by_type,
                                "Reading Score":average_reading_score_by_type ,
                                "%Passing Math":average_percent_passing_math_by_type ,
                                "%Passing Reading":average_percent_passing_reading_by_type ,
                                "%Overall Passing":average_percent_overall_passing_by_type})

# Display results
type_summary

,Math Score,Reading Score,%Passing Math,%Passing Reading,%Overall Passing
School Type,,,,,
Charter,1428.250000,1473.125000,93.620830,96.586489,90.432244
District,2563.428571,3117.857143,66.548453,80.799062,53.672208